<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ 'dark' if dark_mode else 'light' }}" style="width: 100%;height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <style>
        body {
            transition: background 0.3s, color 0.3s;
            width: 100%;
            height:100%;
            background: #936dff;
            color: black;
        }
        .dark-mode {
            width: 100%;
            height:100%;
            background: #3d1c4d;
            color: white;
        }
        .toggle-button {
           
            border: 1px solid black;
            color: white;
        }
    </style>
</head>
<body style="width: 100%;height: 100%;">
    <div class="container" style="min-height: 0px;height: 80%;width: 50%;">
        <div class="row" style="height: 30%;">
            <div class="col-sm-12 col-md-12" style="height: 100%;padding-right: 0px;padding-left: 0px;margin-top: 20px;">
                <div style="height: 100%;width: 100%;">
                    <div style="background: linear-gradient(rgba(255,255,255,0.21), rgba(255,255,255,0.08)), rgb(127,107,255);padding: 7px;border-radius: 20px;padding-left: 20px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;height: 100%;border-width: 5px;border-color: rgb(59,36,152);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left-width: 5px;border-left-style: outset;">
                        <div style="height: 100%;">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p class="fs-2 fw-bolder mb-0">Device Name 1</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">Someone famous</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12" style="height: 100%;padding-right: 0px;padding-left: 0px;margin-top: 20px;">
                <div style="height: 100%;width: 100%;">
                    <div style="background: linear-gradient(rgba(255,255,255,0.21), rgba(255,255,255,0.08)), rgb(127,107,255);padding: 7px;border-radius: 20px;padding-left: 20px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;height: 100%;border-width: 5px;border-color: rgb(59,36,152);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left-width: 5px;border-left-style: outset;">
                        <div style="height: 100%;">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p class="fs-2 fw-bolder mb-0">Device Name 2</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">Someone famous</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12" style="height: 100%;padding-right: 0px;padding-left: 0px;margin-top: 20px;">
                <div style="height: 100%;width: 100%;">
                    <div style="background: linear-gradient(rgba(255,255,255,0.21), rgba(255,255,255,0.08)), rgb(127,107,255);padding: 7px;border-radius: 20px;padding-left: 20px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;height: 100%;border-width: 5px;border-color: rgb(59,36,152);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left-width: 5px;border-left-style: outset;">
                        <div style="height: 100%;">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p class="fs-2 fw-bolder mb-0">Device Name 3</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">Someone famous</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12" style="height: 100%;padding-right: 0px;padding-left: 0px;margin-top: 20px;">
                <div style="height: 100%;width: 100%;">
                    <div style="background: linear-gradient(rgba(255,255,255,0.21), rgba(255,255,255,0.08)), rgb(127,107,255);padding: 7px;border-radius: 20px;padding-left: 20px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;height: 100%;border-width: 5px;border-color: rgb(59,36,152);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left-width: 5px;border-left-style: outset;">
                        <div style="height: 100%;">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p class="fs-2 fw-bolder mb-0">Device Name 4</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">Someone famous</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12" style="height: 100%;padding-right: 0px;padding-left: 0px;margin-top: 20px;">
                <div style="height: 100%;width: 100%;">
                    <div style="background: linear-gradient(rgba(255,255,255,0.21), rgba(255,255,255,0.08)), rgb(127,107,255);padding: 7px;border-radius: 20px;padding-left: 20px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;height: 100%;border-width: 5px;border-color: rgb(59,36,152);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left-width: 5px;border-left-style: outset;">
                        <div style="height: 100%;">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p class="fs-2 fw-bolder mb-0">Device Name 5</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">Someone famous</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-bottom: 250px;">
                <div></div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-right: 0px;padding-left: 0px;margin-right: 0px;margin-left: 0px;max-width: 100%;width: 100%;position: fixed;margin-bottom: 0px;margin-top: 0%;height: 20%;background: #110041;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;width: 100%;max-width: 100%;min-width: 100%;height: 100%;">
            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;margin-top: 0px;height: 100%;">
                <div style="height: 100%;"><button class="btn btn-primary" type="submit" style="min-height: 100%;height: 200px;max-height: 100%;max-width: 100%;width: initial;min-width: 100%;background: rgba(39,38,129,0.8);font-size: 50px;font-weight: bold;border-radius: 0px;line-height: 20px;border-color: rgb(0,0,0);">Alerts</button></div>
            </div>
            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;height: 100%;">
                <div style="min-width: 100%;min-height: 0;height: 100%;"><button class="btn btn-primary" type="submit" style="min-height: 100%;height: 100%;max-height: 100%;max-width: 100%;width: initial;min-width: 100%;background: rgba(39,38,129,0.8);font-size: 120px;font-weight: bold;border-radius: 0px;text-align: center;line-height: 20px;border-color: rgb(0,0,0);">+</button></div>
            </div>
            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;height: 100%;">
                <form action="{{ url_for('settings') }}" method="get">
                    <div style="height: 100%;"><button class="btn btn-primary" type="submit" style="min-height: 100%;height: 200px;max-height: 100%;max-width: 100%;width: initial;min-width: 100%;background: rgba(39,38,129,0.8);font-size: 50px;font-weight: bold;border-radius: 0px;line-height: 20px;border-color: rgb(0,0,0);">Settings</button></div>
                </form>
            </div>
        </div>
    </div>
    <script>
        if("{{dark_mode}}" == "True")
            {
                document.body.classList.add('dark-mode');
                document.documentElement.setAttribute('data-bs-theme', 'dark');
            }
        else
            {
                document.documentElement.setAttribute('data-bs-theme', 'light');
            }
    </script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>