<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="background: linear-gradient(#936dff 0%, #bacdff), #d1d5ff;height: 100%;width: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
</head>

<body style="background: rgba(255,255,255,0);width: 100%;height: 100%;">
    <div class="container" style="min-height: 900px;width: 50%;text-align: center;">
        <div class="row" style="text-align: center;">
            <div class="col-sm-12 col-md-12 col-xxl-12" style="text-align: center;">
                <form action="{{ url_for('logout') }}" method="post">
                <div style="background: rgba(194,200,232,0);padding: 0px;border-radius: 20px;padding-left: 0px;margin-left: 0px;margin-bottom: 30px;margin-right: 0px;max-height: 54px;border-width: 5px;border-color: rgba(147,164,255,0);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left: 5px outset rgba(147,164,255,0);width: 100%;text-align: center;margin-top: 5px;"><button class="btn btn-primary active" type="submit" style="width: 100%;background: rgb(107,104,255);border-radius: 20px;font-size: 30px;text-align: center;margin-top: 10px;margin-bottom: 5px;height: 100%;">Log Out</button></div>
                </form>
                <a href="/get_device_ids">
                <div style="background: rgba(194,200,232,0);padding: 0px;border-radius: 20px;padding-left: 0px;margin-left: 0px;margin-bottom: 30px;margin-right: 0px;max-height: 54px;border-width: 5px;border-color: rgba(147,164,255,0);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left: 5px outset rgba(147,164,255,0);width: 100%;text-align: center;margin-top: 5px;"><button class="btn btn-primary active" type="button" style="width: 100%;background: rgb(107,104,255);border-radius: 20px;font-size: 30px;text-align: center;margin-top: 10px;margin-bottom: 5px;height: 100%;">Get Device IDs</button></div>
                </a>
                <form action="{{ url_for('get_device_info') }}" method="post">
                <div style="background: rgba(144, 147, 167, 0);padding: 0px;border-radius: 20px;padding-left: 0px;margin-left: 0px;margin-bottom: 30px;margin-right: 0px;max-height: 54px;border-width: 5px;border-color: rgba(147,164,255,0);border-top-width: 5px;border-top-style: solid;border-right-width: 5px;border-right-style: outset;border-bottom-width: 5px;border-bottom-style: solid;border-left: 5px outset rgba(147,164,255,0);width: 100%;text-align: center;margin-top: 5px;"><button class="btn btn-primary active" type="submit" style="width: 100%;background: rgb(107,104,255);border-radius: 20px;font-size: 30px;text-align: center;margin-top: 10px;margin-bottom: 5px;height: 100%;">Get Device Info</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>